<!--
 This is the template for the HTML confirmation e-mail.
 -->
<h1>
  Account confirmation e-mail
</h1>

<p>
  <a href="{{.url}}">Confirmation URL</a>
</p>
<p>
  Please click the confirmation URL above to complete your registration.
</p>
