<!--
 This is the template for the HTML account recovery e-mail.
 -->
<h1>
  Recover your account.
</h1>

<p>
  <a href="{{.url}}">Recovery URL</a>
</p>
<p>
  Please click <a href="{{.recover_url}}">here</a> to recover your account
</p>
